<div class="page page--full">

    <page-header title="Colors"></page-header>

    <div class="page-content">

        <div class="page-content-body">

            <div>
                <div class="colors">
                    <div class="colors-item" ng-repeat="color in vm.colors">
                        <div class="colors-item-title">{{color.name}}</div>
                        <div class="color" ng-repeat="shade in color.shades">
                            <div class="color-value">{{ shade.css | bgcolor }}</div>
                            <div class="color-item {{shade.css}}"></div>
                            <div class="color-name">{{ shade.name || "" }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>