nav-header {
    display: flex;
    height: unit(@page-header-height,px);
    justify-content: center;
    align-items: center;
    color: @nav-header-color;
    .font-size(@nav-header-font-size);
    font-weight: @nav-header-font-weight;
    padding: 1em;

    &:before {
        content: attr(text);
        .ellipsis();
    }
}

.nav-header {
    &--caret {
        cursor: pointer;

        &:after {
            content: "\f0d7";
            font-family: FontAwesome;
            margin-left: .25em;
        }
    }
}

@media @media-tablet-landscape,
    @media-tablet-portrait {

    nav-header {
        &:before {
            content: attr(small);
        }
    }
}