<html ng-app="demo">

<head>
	<base href="/" />
	<title>Layout Page Demo</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="dist/vops-layout.css" />
	<link rel="stylesheet" href="demo/stylesheet.css" />
</head>

<body>

	<div class="layout-page">
		<nav class="layout-page-nav">
			<nav-header class="nav-header--caret" text="Nav Header" small="NH"></nav-header>
			<nav-group>
				<a nav-group-item icon="fa fa-check-square-o" ng-href="/panes" selected="['/routetest']">Panes</a>
				<a nav-group-item icon="fa fa-group" ng-href="/pages">Pages</a>
			</nav-group>
			<nav-group>
				<a nav-group-item icon="fa fa-calendar" ng-href="/text">Text</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/buttons">Buttons</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/forms">Forms</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/colors">Colors</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/blankslate">Blankslate</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/charts">Charts</a>
				<a nav-group-item icon="fa fa-calendar" ng-href="/grid">Grid</a>
			</nav-group>
			<nav-group>
				<span nav-group-item icon="fa fa-search" ng-click="search()">Search</span>
			</nav-group>
		</nav>

		<page-slider slide-if="isGlobalSearching">
			<div class="pane">
				<pane-header title="Global page slider" subtitle="{{counter}}" show-close>
				</pane-header>

				<div class="pane-body">
					<div>
						Page slider that is not inside the page element
					</div>
					<div class="text-link" ng-click="showGlobalSubslider = !showGlobalSubslider">open sub-slider</div>
				</div>

				<pane-footer>
					<a href="#" page-slider-cancel>close slider</a>
				</pane-footer>
			</div>
			<page-slider class="page-slider--sm" show-close slide-if="showGlobalSubslider">
				<div class="pane">
					<pane-header title="Global page slider" subtitle="{{counter}}" show-close></pane-header>
					This is the global sub-slider
				</div>
			</page-slider>
		</page-slider>

		<div ng-view class="layout-page-view"></div>
	</div>

	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="node_modules/angular-typescript-module/dist/angular-typescript-module.js"></script>
	<script type="text/javascript" src="dist/vops-layout.js"></script>
	<script type="text/javascript" src="dist/vops-layout.templates.js"></script>
	<script type="text/javascript" src="demo/app.js"></script>
	<script type="text/javascript" src="demo/pageTest/pageTest.js"></script>
	<script type="text/javascript" src="demo/paneTest/paneTest.js"></script>
	<script type="text/javascript" src="demo/text/text.js"></script>
	<script type="text/javascript" src="demo/forms/forms.js"></script>
	<script type="text/javascript" src="demo/buttons/buttons.js"></script>
	<script type="text/javascript" src="demo/colors/bgcolor.js"></script>
	<script type="text/javascript" src="demo/colors/colors.js"></script>
	<script type="text/javascript" src="demo/blankslate/blankslate.js"></script>
	<script type="text/javascript" src="demo/charts/charts.js"></script>
	<script type="text/javascript" src="demo/grid/grid.js"></script>
</body>

</html>