@bar-graph-lg: @typescale*2.5;
@bar-graph: @typescale*2;
@bar-graph-sm: @typescale*1.5;

bar-graph {
    display: block;
    
    & + & {
        margin-top: .5em;
    }
}

.bar-graph-bg {
    background-color: @color-gray-dark;
    border-radius: 4px;
}

.bar-graph-fill {
    background: fade(@color-blue,60);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    height: unit(@bar-graph,px);
    line-height: unit(@bar-graph,px);
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: visible;
    transition: width .5s ease-in-out;

    &--full {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .bar-graph--lg & {
        height: unit(@bar-graph-lg,px); 
        line-height: unit(@bar-graph-lg,px);
        font-size: 1.125rem;
    }
    
    .bar-graph--sm & {
        height: unit(@bar-graph-sm,px); 
        line-height: unit(@bar-graph-sm,px);
        font-size: .875rem;
    }
    
    > span {
        margin: 0 1em;
    }
}