pane-footer {
    display: block;
    height: unit(@pane-footer-height,px);
    line-height: unit(@pane-footer-height,px);
    margin: 0 unit(@padding,px);
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: @border-color;
    z-index: 1;
    color: @pane-footer-color;
    background-color: @pane-footer-background-color;
}

.pane-footer-button {
	&--right {
    	float: right;
    	margin-top: unit(@padding-half,px);
	}
}