@screen-desktop-xlg:        1920;
@screen-desktop-lg:         1440;
@screen-desktop-sm:         1280;
@screen-tablet-landscape:   1024;
@screen-tablet-portrait:    768;
@screen-phone-landscape:    480;
@screen-phone-portrait:     320;

// [deprecated]
@screen-medium: @screen-tablet-landscape;
@screen-small: @screen-phone-landscape;

// see: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
              
@media-desktop-xlg:         %(~"screen and (min-width: %apx)", @screen-desktop-xlg );
@media-desktop-lg:          %(~"screen and (min-width: %apx) and (max-width: %apx)", @screen-desktop-lg, (@screen-desktop-xlg - 1));
@media-desktop-sm:          %(~"screen and (min-width: %apx) and (max-width: %apx)", @screen-desktop-sm, (@screen-desktop-lg - 1));
@media-tablet-landscape:    %(~"screen and (min-width: %apx) and (max-width: %apx)", @screen-tablet-landscape, (@screen-desktop-sm - 1));
@media-tablet-portrait:     %(~"screen and (min-width: %apx) and (max-width: %apx)", @screen-tablet-portrait, (@screen-tablet-landscape - 1));
@media-phone-landscape:     %(~"screen and (min-width: %apx) and (max-width: %apx)", @screen-phone-landscape, (@screen-tablet-portrait - 1));
@media-phone-portrait:      %(~"screen and (max-width: %apx)", (@screen-phone-landscape - 1) );