<div class="page page--full">
    <page-header title="Grid"></page-header>
    <div class="page-content">
        <div class="page-content-body">

            <div class="demopage-grid">

                <table>
                    <tr>
                        <td>

                            <h3>defaults</h3>
                            <div class="demopage-sized grid">
                                .grid
                            </div>

                            <div class="demopage-sized grid grid--column">
                                .grid.grid--column
                            </div>

                            <div class="demopage-sized grid grid--row">
                                <div class="grid grid--column">
                                    .grid.grid--row > .grid.grid--column
                                </div>
                            </div>

                            <div class="demopage-sized grid grid--column">
                                <div class="grid grid--row">
                                    .grid.grid--column > .grid.grid--row
                                </div>
                            </div>

                        </td>
                        <td>

                            <h3>center</h3>

                            <div class="demopage-sized grid grid--row grid--center">
                                .grid.grid--row.grid--center
                            </div>

                            <div class="demopage-sized grid grid--column grid--center">
                                .grid.grid--column.grid--center
                            </div>

                            <div class="demopage-sized grid grid--row grid--center">
                                <div class="grid grid--column">
                                    .grid.grid--row.grid--center > .grid.grid--column
                                </div>
                            </div>

                            <div class="demopage-sized grid grid--row grid--center">
                                <div class="grid grid--column grid--center">
                                    .grid.grid--row.grid--center > .grid.grid--column.grid--center
                                </div>
                            </div>

                            <div class="demopage-sized grid grid--column grid--center">
                                <div class="grid grid--row">
                                    .grid.grid--column.grid--center > .grid.grid--row
                                </div>
                            </div>

                            <div class="demopage-sized grid grid--column grid--center">
                                <div class="grid grid--row grid--center">
                                    .grid.grid--column.grid--center > .grid.grid--row.grid--center
                                </div>
                            </div>

                        </td>
                        <td>

                            <h3>grid</h3>

                            <div class="grid grid--row">
                                <div class="grid grid--column grid--pad-sm" ng-repeat="col in [1,2,3]">
                                    {{col}}
                                </div>
                            </div>

                            <div class="grid grid--column" style="margin-top: 16px;">
                                <div class="grid grid--row grid--pad-sm" ng-repeat="col in [1,2,3]">
                                    {{col}}
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                </table>



            </div>

        </div>
    </div>
</div>