<div class="page">

    <page-header title="Charts"></page-header>

    <div class="page-content">

        <div class="page-content-body">

            <div class="page-content-body-pane">
                <h2>doughnut</h2>
                <div>
                    <div>
                        <input type="text" ng-model="vm.value1" ng-model-options="{ updateOn: 'blur' }" placeholder="Value">
                        <div>
                            <input type="text" ng-model="vm.width" ng-model-options="{ updateOn: 'blur' }" placeholder="Width">
                            <input type="text" ng-model="vm.height" ng-model-options="{ updateOn: 'blur' }" placeholder="Height">
                        </div>
                    </div>
                    <label>default</label>
                    <div class="doughnut-container">
                        <doughnut class="doughnut-test" value="{{vm.value1}}" ng-style="{width: vm.width, height: vm.height}">
                            {{vm.value1}}%
                        </doughnut>
                    </div>
                </div>
                <div>
                    <label>empty-color-class - override the default empty color</label>
                    <doughnut class="doughnut-test" empty-color-class="doughnut-empty-color-test" value="{{vm.value2}}">
                        {{vm.value2}}%
                    </doughnut>
                </div>
                <div>
                    <label>color-class - override the default fill color</label>
                    <doughnut class="doughnut-test" color-class="doughnut-color-test" value="{{vm.value3}}">
                        {{vm.value3}}%
                    </doughnut>
                </div>
                <div>
                    <label>color - sets the fill color explicitly</label>
                    <doughnut class="doughnut-test" color="red" value="{{vm.value4}}">
                        {{vm.value4}}%
                    </doughnut>
                </div>
                <div>
                    <label>zero</label>
                    <doughnut class="doughnut-test" value="{{vm.value5}}">
                        {{vm.value5}}%
                    </doughnut>
                </div>
            </div>

            <div class="page-content-body-pane">

            </div>
        </div>

    </div>

</div>