<div class="page">

    <page-header title="Charts"></page-header>

    <div class="page-content">

        <div class="page-content-body">

            <div class="page-content-body-pane">
                <h2>doughnut</h2>
                <div>
                    <div>
                        <input type="text" ng-model="vm.value1" ng-model-options="{ updateOn: 'blur' }" placeholder="Value">
                        <div>
                            <input type="text" ng-model="vm.width" ng-model-options="{ updateOn: 'blur' }" placeholder="Width">
                            <input type="text" ng-model="vm.height" ng-model-options="{ updateOn: 'blur' }" placeholder="Height">
                        </div>
                    </div>
                    <label>default</label>
                    <div class="doughnut-container">
                        <doughnut 
                            class="doughnut-test" 
                            value="{{vm.value1}}" 
                            ng-style="{width: vm.width, height: vm.height, backgroundColor: vm.bg()}">
                            {{vm.value1}}%
                        </doughnut>
                    </div>
                </div>
                <div>
                    <label>empty-color-class - override the default empty color</label>
                    <doughnut class="doughnut-test" empty-color-class="doughnut-empty-color-test" value="{{vm.value2}}">
                        {{vm.value2}}%
                    </doughnut>
                </div>
                <div>
                    <label>color-class - override the default fill color</label>
                    <doughnut class="doughnut-test" color-class="doughnut-color-test" value="{{vm.value3}}">
                        {{vm.value3}}%
                    </doughnut>
                </div>
                <div>
                    <label>color - sets the fill color explicitly</label>
                    <doughnut class="doughnut-test" color="red" value="{{vm.value4}}">
                        {{vm.value4}}%
                    </doughnut>
                </div>
                <div>
                    <label>zero</label>
                    <doughnut class="doughnut-test" value="{{vm.value5}}">
                        {{vm.value5}}%
                    </doughnut>
                </div>
            </div>

            <div class="page-content-body-pane">
                <input type="text" ng-model="vm.barValue1">
                <div>
                    <label>XYZ Goal: 5M</label>
                </div>
                <div style="margin-top: .5em">
                    <bar-graph class="bar-graph--lg" bar-min="0" bar-max="100" bar-value="{{vm.barValue1}}">
                        {{vm.barValue1||0}}/100 (.bar-graph--lg) 
                    </bar-graph>
                </div>
                <input type="text" ng-model="vm.barValue2" style="margin-top: .5em">
                <div style="margin-top: .5em">
                    <bar-graph bar-min="0" bar-max="10000" bar-value="{{vm.barValue2}}">
                        {{vm.barValue2||0}}/10K (default)
                    </bar-graph>
                </div>
                <input type="text" ng-model="vm.barValue3" style="margin-top: .5em">
                <div style="margin-top: .5em">
                    <bar-graph class="bar-graph--sm" bar-min="0" bar-max="10000000" bar-value="{{vm.barValue3}}">
                        {{vm.barValue3||0}}/10m (.bar-graph--sm)
                    </bar-graph>
                </div>
            </div>
        </div>

    </div>

</div>