.layout-page {
	display: flex;
	flex-direction: row;
	font-family: @font-family;
	line-height: @line-height-base;
	background-color: @background-color;
	color: @color;
	height: 100vh;
    max-height: 100%; // removes scrollbar browser bug
	overflow: hidden;
}

.layout-page-nav {
	order: 0;	
}

.layout-page-view {
	display: flex;
	order: 1;
	flex-grow: 1;
	
	& > * {
		display: flex;
		flex-grow: 1;
	}
    
    [ng-view]& {
        &.ng-enter {
            transition: 0.15s;
            opacity: .5;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            transition: 0.40s;
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 0;
        }
    }
}