.layout-page {
	display: flex;
	flex-direction: row;
	height: 100vh;
    max-height: 100%; // removes scrollbar browser bug
	overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: @layout-page-background-color;
	color: @layout-page-color;
}

.layoutPageOverlay {
	&:before {
		position: fixed;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		background-color: rgba(0,0,0,.25);

		.layout-page--overlay.layout-page--hiding & {
			opacity: 0;
		}

        .layout-page--overlay & {
			transition: opacity .25s ease-in-out;
			position: absolute;
			opacity: 1;
			z-index: 9;
        }
    }
}

.layout-page-nav {
	order: 0;
}

.layout-page-view {
	display: flex;
	order: 1;
	flex-grow: 1;
	overflow: hidden;

	& > * {
		display: flex;
		flex-grow: 1;
		max-width: 100%;
	}
}

@media only screen and (max-width: unit(@screen-tablet-landscape,px)) {
	.layout-page-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		transform: translateX(0);
		transition: transform .25s ease-in-out;

		.nav--show & {
			transform: translateX(unit(@nav-large,px));

			&:after {
				animation-name: layout-page-fadeBlack;
				animation-timing-function: ease;
				animation-duration: .25s;
				animation-delay: .25s;
				animation-fill-mode: forwards;
				pointer-events: all;
				z-index: 5;
			}
		}

		&:after {
			content: "";
			position: absolute;
			background-color: fade(#000,25%);
			left: 0;
			right: 0;
			top: 48px;
			bottom: 0;
			opacity: 0;
			pointer-events: none;
		}
	}
}

@keyframes layout-page-fadeBlack {
	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}