.layout-page {
	display: flex;
	flex-direction: row;
	font-family: @font-family;
	line-height: @line-height-base;
	background-color: @background-color;
	color: @color;
	height: 100vh;
    max-height: 100%; // removes scrollbar browser bug
	overflow: hidden;
}

.layout-page-nav {
	order: 0;	
}

.layout-page-view {
	display: flex;
	order: 1;
	
	& > * {
		display: flex;
	}
}