/// <reference path="../assets.less" />

// @shadePercent: 10%;
// @button-success: @color-success;//#29a9db;
// @button-success-light: lighten(@button-success, @shadePercent);
// @button-success-dark: darken(@button-success, @shadePercent);
// @button-success-color: #fff;
// 
// @button-primary: @color-blue;
// @button-primary-light: lighten(@button-primary, @shadePercent);
// @button-primary-dark: darken(@button-primary, @shadePercent);
// @button-primary-color: #fff;
// 
// @button-default: #fff;
// @button-default-light: #eee;
// @button-default-dark: #ccc;
// @button-default-color: #333;
// 
// @button-danger: @color-red;
// @button-danger-light: lighten(@button-danger, @shadePercent);
// @button-danger-dark: darken(@button-danger, @shadePercent);
// @button-danger-color: #fff;
// 
// @button-disabled: #eaeded;
// @button-disabled-color: #cad2d3;
// 
// .button {
//     /* Structure */
//     display: inline-block;
//     zoom: 1;
//     line-height: 14px;
//     white-space: nowrap;
//     vertical-align: middle;
//     text-align: center;
//     cursor: pointer;
//     -webkit-user-drag: none;
//     user-select: none;
//     font-weight: @font-weight-bold;
// 
//     /*Look*/
//     .font-size(@typescale-sm);
//     padding: 9px 14px;
//     color: @button-default-color;
//     border: 1px solid @button-default-dark;
//     background-color: @button-default;
//     text-decoration: none;
//     border-radius: 2px;
//     transition: all .25s ease-in-out;
// 
//     // ToDo: this may need to go in the pane-footer?
//     .form :not(pane-footer) & {
//         margin-bottom: 8px;
//     }
// 
//     &:focus {
//         outline: 0;
//     }
// 
//     &:hover,
//     &:focus {
//         background-color: @button-default-dark;
// 
//         &.button-success {
//             background-color: @button-success-dark;
//         }
// 
//         &.button-primary {
//             background-color: @button-primary-dark;
//         }
// 
//         &.button-link,
//         &.button-danger {
//             background-color: transparent;
//             text-decoration: underline;
//         }
//     }
// }
// 
// /* Firefox: Get rid of the inner focus border */
// .button::-moz-focus-inner {
//     padding: 0;
//     border: 0;
// }
// 
// .button-active,
// .button:active {
//     box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
//     border-color: #000;
// }
// 
// .button[disabled],
// .button-disabled,
// .button-disabled:hover,
// .button-disabled:focus,
// .button-disabled:active {
//     border-color: @button-disabled-color;
//     cursor: not-allowed;
//     box-shadow: none;
//     background-color: @button-disabled;
//     color: @button-disabled-color;
// }
// 
// .button-hidden {
//     display: none;
// }
// 
// /* Firefox: Get rid of the inner focus border */
// .button::-moz-focus-inner{
//     padding: 0;
//     border: 0;
// }
// 
// .button-success {
//     background-color: @button-success;
//     color: @button-success-color;
//     border-color: @button-success;
// }
// 
// .button-primary {
//     background-color: @button-primary;
//     color: @button-primary-color;
//     border-color: @button-primary;
// }
// 
// .button-default {
//     background-color: @button-default;
//     color: @button-default-color;
//     border-color: @button-default;
// }
// 
// .button-link {
//     .text-link();
//     background-color: transparent;
//     border-color: transparent;
//     font-weight: 400;
// 
//     &--flush {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }
// 
// .button-danger {
//     background-color: transparent;
//     color: @color-danger;
//     border-color: transparent;
//     font-weight: 400;
// 
//     &--flush {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }

// button
@button-background-color: @color-gray-lightest;
@button-border-color: @color-gray-lightest;
@button-color: @color-gray-darkest;
@button-hover-background-color: @color-gray-light;
@button-hover-border-color: @color-gray-light;
@button-hover-color: @color-gray-darkest;
@button-active-background-color: @color-gray-lightest;
@button-active-border-color: @color-gray;
@button-active-color: @color-gray-darkest;
@button-focus-outline-color: @color-gray-dark;

// button-default
@button-default-background-color: #fff;
@button-default-border-color: @color-gray-light;
@button-default-color: @color-gray-darkest;
@button-default-hover-background-color: @color-gray-light;
@button-default-hover-border-color: @color-gray-light;
@button-default-hover-color: @color-gray-darkest;
@button-default-active-background-color: #fff;
@button-default-active-border-color: @color-gray-light;
@button-default-active-color: @color-gray-darkest;
@button-default-focus-outline-color: @color-gray-dark;

// button-primary
@button-primary-background-color: @color-blue;
@button-primary-border-color: @color-blue;
@button-primary-color: #fff;
@button-primary-hover-background-color: @color-blue-dark;
@button-primary-hover-border-color: @color-blue-dark;
@button-primary-hover-color: #fff;
@button-primary-active-background-color: @color-blue;
@button-primary-active-border-color: @color-blue;
@button-primary-active-color: #fff;
@button-primary-focus-outline-color: @color-blue-darker;

// button-success
@button-success-background-color: @color-green;
@button-success-border-color: @color-green;
@button-success-color: #fff;
@button-success-hover-background-color: @color-green-dark;
@button-success-hover-border-color: @color-green-dark;
@button-success-hover-color: #fff;
@button-success-active-background-color: @color-green;
@button-success-active-border-color: @color-green;
@button-success-active-color: #fff;
@button-success-focus-outline-color: @color-green-darker;

// button-danger
@button-danger-background-color: @color-red;
@button-danger-border-color: @color-red;
@button-danger-color: #fff;
@button-danger-hover-background-color: @color-red-dark;
@button-danger-hover-border-color: @color-red-dark;
@button-danger-hover-color: #fff;
@button-danger-active-background-color: @color-red;
@button-danger-active-border-color: @color-red;
@button-danger-active-color: #fff;
@button-danger-focus-outline-color: @color-red-darker;

.button {
    display: inline-flex;
    white-space: nowrap;
    max-width: 100%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    transition: all .1s ease-in-out;
    background-color: @button-background-color;
    border-color: @button-border-color;
    color: @button-color;
    padding: @padding-quarter @padding-half;
    
    &:hover {
        background-color: @button-hover-background-color;
        border-color: @button-hover-border-color;
        color: @button-hover-color;
    }
    
    &:active {
        background-color: @button-active-background-color;
        border-color: @button-active-border-color;
        color: @button-active-color;
    }
    
    &:focus {
        outline-color: @button-focus-outline-color;
    }
}

.button-default {
    .button();
    background-color: @button-default-background-color;
    border-color: @button-default-border-color;
    color: @button-default-color;
    
    &:hover {
        background-color: @button-default-hover-background-color;
        border-color: @button-default-hover-border-color;
        color: @button-default-hover-color;
    }
    
    &:active {
        background-color: @button-default-active-background-color;
        border-color: @button-default-active-border-color;
        color: @button-default-active-color;
    }
    
    &:focus {
        outline-color: @button-default-focus-outline-color;
    }
}

.button-primary {
    .button();
    background-color: @button-primary-background-color;
    border-color: @button-primary-border-color;
    color: @button-primary-color;
    
    &:hover {
        background-color: @button-primary-hover-background-color;
        border-color: @button-primary-hover-border-color;
        color: @button-primary-hover-color;
    }
    
    &:active {
        background-color: @button-primary-active-background-color;
        border-color: @button-primary-active-border-color;
        color: @button-primary-active-color;
    }
    
    &:focus {
        outline-color: @button-primary-focus-outline-color;
    }
}

.button-success {
    .button();
    background-color: @button-success-background-color;
    border-color: @button-success-border-color;
    color: @button-success-color;
    
    &:hover {
        background-color: @button-success-hover-background-color;
        border-color: @button-success-hover-border-color;
        color: @button-success-hover-color;
    }
    
    &:active {
        background-color: @button-success-active-background-color;
        border-color: @button-success-active-border-color;
        color: @button-success-active-color;
    }
    
    &:focus {
        outline-color: @button-success-focus-outline-color;
    }
}

.button-danger {
    .button();
    background-color: @button-danger-background-color;
    border-color: @button-danger-border-color;
    color: @button-danger-color;
    
    &:hover {
        background-color: @button-danger-hover-background-color;
        border-color: @button-danger-hover-border-color;
        color: @button-danger-hover-color;
    }
    
    &:active {
        background-color: @button-danger-active-background-color;
        border-color: @button-danger-active-border-color;
        color: @button-danger-active-color;
    }
    
    &:focus {
        outline-color: @button-danger-focus-outline-color;
    }
}

// this should be deprecated
.button-link {
    .text-link();
}