/// <reference path="../assets.less" />

.button-group {
    display: inline-flex;
    & + & {
        margin-left: .5em;
    }
}

.button {
    display: inline-flex;
    white-space: nowrap;
    max-width: 100%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    transition: all .1s ease-in-out;
    background-color: @button-background-color;
    border-color: @button-border-color;
    color: @button-color;
    padding: 0 1em;
    line-height: 2em;

    &.page-header-actions-item {
        line-height: unit(@page-header-height - 2, px);
        border-radius: 0;
        font-size: 1rem;
    }
    
    &:not([disabled]) {
        &:hover {
            background-color: @button-hover-background-color;
            border-color: @button-hover-border-color;
            color: @button-hover-color;
        }
        
        &:active {
            background-color: @button-active-background-color;
            border-color: @button-active-border-color;
            color: @button-active-color;
        }
        
        &:focus {
            outline-color: @button-focus-outline-color;
        }
    }

    .button-group & {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    .button-group .button-default + &,
    .button-group .button--default + & {
        border-left-width: 0;
    }

    .button-group & + & {
        border-left: solid 1px @color-gray;
    }

    pane-footer * + & {
        margin-left: .25em;
    }
}

.button--default {
    background-color: @button-default-background-color;
    border-color: @button-default-border-color;
    color: @button-default-color;
    
    &[disabled] {
        background-color: @button-default-disabled-background-color;
        border-color: @button-default-disabled-border-color;
        color: @button-default-disabled-color;
    }
    
    &:not([disabled]) {
        &:hover {
            background-color: @button-default-hover-background-color;
            border-color: @button-default-hover-border-color;
            color: @button-default-hover-color;
        }
        
        &:active {
            background-color: @button-default-active-background-color;
            border-color: @button-default-active-border-color;
            color: @button-default-active-color;
        }
        
        &:focus {
            outline-color: @button-default-focus-outline-color;
        }
    }
}

.button-default {
    .button();
    .button--default();
}

.button--primary {
    background-color: @button-primary-background-color;
    border-color: @button-primary-border-color;
    color: @button-primary-color;
    
    &:not([disabled]) {
        &:hover {
            background-color: @button-primary-hover-background-color;
            border-color: @button-primary-hover-border-color;
            color: @button-primary-hover-color;
        }
        
        &:active {
            background-color: @button-primary-active-background-color;
            border-color: @button-primary-active-border-color;
            color: @button-primary-active-color;
        }
        
        &:focus {
            outline-color: @button-primary-focus-outline-color;
        }
    }

    .button-group .button + & {
        border-left-color: @border-color;
    }
}

.button-primary {
    .button();
    .button--primary();
}

.button--success {
    background-color: @button-success-background-color;
    border-color: @button-success-border-color;
    color: @button-success-color;
    
    &:not([disabled]) {
        &:hover {
            background-color: @button-success-hover-background-color;
            border-color: @button-success-hover-border-color;
            color: @button-success-hover-color;
        }
        
        &:active {
            background-color: @button-success-active-background-color;
            border-color: @button-success-active-border-color;
            color: @button-success-active-color;
        }
        
        &:focus {
            outline-color: @button-success-focus-outline-color;
        }
    }

    .button-group .button + & {
        border-left-color: @border-color;
    }
}

.button-success {
    .button();
    .button--success();
}

.button--danger {
    background-color: @button-danger-background-color;
    border-color: @button-danger-border-color;
    color: @button-danger-color;
    
    &:not([disabled]) {
        &:hover {
            background-color: @button-danger-hover-background-color;
            border-color: @button-danger-hover-border-color;
            color: @button-danger-hover-color;
        }
        
        &:active {
            background-color: @button-danger-active-background-color;
            border-color: @button-danger-active-border-color;
            color: @button-danger-active-color;
        }
        
        &:focus {
            outline-color: @button-danger-focus-outline-color;
        }
    }

    .button-group .button + & {
        border-left-color: @border-color;
    }
}

.button-danger {
    .button();
    .button--danger();
}

.button--link {
    color: @color-blue;
    background-color: transparent;
    border: none;
    outline: none;
    
    &:not([disabled]) {
        &:hover {
            color: @color-blue-lighter;
            background-color: transparent;
            border: none;
        }
        
        &:active {
            color: @color-blue;
            background-color: transparent;
            border: none;    
        }
        
        &:focus {
            background-color: transparent;
            border: none; 
            outline: none;   
        }
    }
}

.button-link {
    .button();
    .button--link();
}

.button-icon {
    line-height: 2em;
    
    * + & {
        margin-left: .5em;
    }
}