/// <reference path="../assets.less" />

@form-label-color: @color-gray-dark;
@form-label-sub-color: @color-gray-dark;
@form-control-color: @color-gray-dark;
@form-control-border-color: @color-gray-lightest;
@form-control-focus-color: @color-blue-lighter;
@form-control-error-color: @color-red;
@form-control-focus-blur: .3em;
@form-control-background-color: #fff;
@form-control-border-radius: 4;
@form-control-height: 2.5;
@form-control-padding: .5;
@form-control-selected-background-color: @color-green-lightest;
@form-control-disabled-background-color: @color-gray-lightest;

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .form-group ~ &,
    & ~ & {
       margin-top: 1em;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .form-row & {
        flex-grow: 1;
    }
    
    .form-row ~ &,
    & ~ & {
       margin-top: 1em;
    }
    
    .form-row & ~ & {
        margin-top: 0;
        margin-left: .5em;
    }
}

.form-label {
    text-transform: uppercase;
    font-size: .875em;
    color: @form-label-color;
    position: relative;
    user-select: none;
    
    .form-group  label > & {
        vertical-align: middle;
        display: flex;
    }
    
    label > [type="checkbox"] + & {
        outline: none;
        
        &:before {
            content: "\0000a0";
            display: inline-flex;
            box-sizing: border-box;
            justify-content: center;
            border: solid 2px @form-control-border-color;
            margin-right: .5em;
            width: 1.5em;
            line-height: 1.25em;
            border-radius: 2px;
            transition: all .25s linear;
        }
    }
    
    label > [type="checkbox"]:checked + & {
        &:before {
            content: "\2714";
            background-color: @color-green;
            border-color: @color-green;
            color: #fff;
        }
    }
    
    label > [type="checkbox"]:focus + & {
        &:before {
            box-shadow: 0 0 @form-control-focus-blur @form-control-focus-color;
        }
    }
}

:root .form-group  label > [type="checkbox"] {
    position: absolute;
    left: -1000em;
}

.form-label-sub {
    font-size: .75em;
    color: @form-label-sub-color;
    
    .form-label & {
        margin-left: .2em;
    }
}

.form-control {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: unit(@form-control-padding,em);
    height: unit(@form-control-height,em);
    border-style: solid;
    border-width: 1px;
    border-radius: unit(@form-control-border-radius,px);
    border-color: @form-control-border-color;
    color: @form-control-color;
    line-height: ~"calc(@{form-control-height}em - 2px)";
    background-color: @form-control-background-color;
    
    &[disabled] {
        background-color: @form-control-disabled-background-color;
        cursor: not-allowed;
    }
    
    &--selected {
        background-color: @form-control-selected-background-color;
    }
    
    &:not(&--customWidth) {
        width: 100%;
    }
    
    input[type]& {
        box-sizing: border-box;
    }
    
    textarea& {
        height: auto;
        line-height: 1.5em;
    }
    
    &:hover {
        color: @form-control-color;
    }
    
    &:active {
        color: @form-control-color;
    }
    
    &:focus {
        outline: none;
        box-shadow: 0 0 @form-control-focus-blur @form-control-focus-color;
    }
    
    .form-group > label > & {
        vertical-align: middle;
    }
    
    &::-ms-expand {
        background-color: transparent;
        border-style: none;
        padding-right: unit(@form-control-padding,em);
        color: @color-gray-dark;
    }
    &::-ms-value {
        background-color: transparent;
        color: inherit;
    }
    
    &::-webkit-inner-spin-button {
        height: unit(@form-control-height,em);
    }
    
    .form-label + &,
    .form-addon-control + &,
    & + & {
        margin-top: .2em;
    }
    
    .form-control-row & + &{
        margin-top: 0;
        margin-left: .5em;
    }
    
    .form-addon-control--before & {
        padding-left: unit(@form-control-height + @form-control-padding,em);
    }
    
    .form-addon-control--after & {
        padding-right: unit(@form-control-height + @form-control-padding,em);
    }
    
    &.ng-touched.ng-invalid {
        border-color: @form-control-error-color;
    }
}

.form-control-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .form-addon-control + &,
    .form-control + & {
        margin-top: .5em;
    }
}

.form-addon-control {
    display: flex;
    flex-direction: row;
    position: relative;
    
    .form-label + &,
    .form-control + &,
    & + & {
        margin-top: .5em;
    }
}

.form-addon-icon {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 unit(@form-control-padding,em);
    width: unit(@form-control-height,em);
    line-height: unit(@form-control-height,em);
    text-align: center;
    cursor: pointer;
    color: @color-gray-light;
    border: none;
    background-color: @form-control-background-color;
    margin: 1px;
    
    .form-addon-control--before & {
        left: 0;
        border-right: solid 1px @form-control-border-color;
        border-radius: unit(@form-control-border-radius,px) 0 0 unit(@form-control-border-radius,px);
    }
    
    .form-addon-control--after & {
        right: 0;
        border-left: solid 1px @form-control-border-color;
        border-radius: 0 unit(@form-control-border-radius,px) unit(@form-control-border-radius,px) 0;
    }
    
    &:hover {
        color: @color-gray;
    }
    
    &:active {
        color: @color-gray-light;
    }
    
    &:focus {
        
    }
}

.form-message {
    .text-danger();
}

.form-message-link {
    .text-link();
    float: right;
    cursor: pointer;
}