.grid {
    display: flex;
    flex-grow: 1;
    
    &--nogrow {
        flex-grow: 0;
    }
    
    &--row {
        flex-direction: row;
        
        .grid + & {
            &.grid--pad-xsm {
                margin-top: .25em;
            }
            
            &.grid--pad-sm {
                margin-top: .5em;
            }
            
            &.grid--pad {
                margin-top: 1em;
            }
            
            &.grid--pad-md {
                margin-top: 1.5em;
            } 
            
            &.grid--pad-lg {
                margin-top: 2em;
            }
                
            &.grid--pad-xlg {
                margin-top: 2.5em;
            }
        }
    }
    
    &--column {
        flex-direction: column;
        
        .grid + & {
            &.grid--pad-xsm {
                margin-left: .25em;
            }
            
            &.grid--pad-sm {
                margin-left: .5em;
            }
            
            &.grid--pad {
                margin-left: 1em;
            }
            
            &.grid--pad-md {
                margin-left: 1.5em;
            } 
            
            &.grid--pad-lg {
                margin-left: 2em;
            }
                
            &.grid--pad-xlg {
                margin-left: 2.5em;
            }
        }
    }
    
    &--around {
        justify-content: space-around;
    }
    
    &--between {
        justify-content: space-between;
    }
    
    &--start {
        justify-content: flex-start;
    }
    
    &--end {
        justify-content: flex-end;
    }
    
    &--center {
        justify-content: center;
    }
    
    
}