.grid {
    display: flex;
}

.grid {
    &[row] {
        flex-direction: row;
    }
    
    &[column] {
        flex-direction: column;
    }
    
    &[grow] {
        flex-grow: 1;
    }
    
    &[around] {
        justify-content: flex-around;
    }
    
    &[between] {
        justify-content: flex-between;
    }
    
    &[start] {
        justify-content: flex-start;
    }
    
    &[end] {
        justify-content: flex-end;
    }
    
    &[center] {
        justify-content: center;
    }
}