<div class="tab-titles">
    <div class="tab-titles-item" 
        ng-class="{'tab-titles-item--selected': tab == vm.selectedTab }"
        ng-repeat="tab in vm.tabs" 
        ng-click="vm.selectTab(tab)">
        <i class="tab-titles-item-icon {{tab.icon}}" ng-if="tab.icon"></i>
        <div class="tab-titles-item-title">{{tab.title}}</div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-content-window" 
        ng-style="{'width': vm.width, 'left': vm.tabPosition}"
        ng-transclude>
    </div>
</div>