@import "../assets";

body-header,
.body-header {
    display: flex;
    flex-direction: column;
	margin-bottom: unit(@padding-half, px);
    color: @body-header-color;
    background-color: @body-header-background-color;
    text-transform: capitalize;
    line-height: 48px;

    & + & {
        margin-top: unit(@padding,px);
    }
}

.body-header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px @border-color;
    padding-bottom: .15em;
    .font-size(@body-header-title-font-size);
}

.body-header-bottom {
    display: flex;
    padding-top: .5em;
    .font-size(@body-header-subtitle-font-size);
}

.body-header-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-header-actions-item {
    cursor: pointer;
    color: @body-header-actions-item-color;
    background-color: @body-header-actions-item-background-color;
    padding: 0 .5em;
    line-height: 48px;
    
    &:hover {
        color: @body-header-actions-item-hover-color;
        background-color: @body-header-actions-item-hover-background-color;
    }
    
    &:active {
        color: @body-header-actions-item-active-color;
        background-color: @body-header-actions-item-active-background-color;
    }
}

.body-header-title,
.body-header-subtitle {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.body-header-titles {
    display: flex;
    flex-direction: column;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.body-header-title {
    order: 1;

    .body-header-subtitle + & {
        line-height: 32px; 
    }    
}

.body-header-subtitle {
    order: 2;
    font-size: .75rem;
    line-height: 16px;
}