body-header {
    display: flex;
    line-height: unit(@body-header-height,px);
    color: @body-header-color;
    background-color: @body-header-background-color;

    body-header ~ & {
        margin-top: unit(@padding-half,px);
        border-top: solid 1px @border-color;
        padding-top: unit(@padding-half,px);
    }
}

.body-header-actions {
    order: 1;
    .font-size(@body-header-actions-font-size);
}

.body-header-actions-item {
    cursor: pointer;
    line-height: unit(@body-header-height,px);
    
    color: @body-header-actions-item-color;
    background-color: @body-header-actions-item-background-color; 
    
    &:hover {
        color: @body-header-actions-item-hover-color;
        background-color: @body-header-actions-item-hover-background-color;
    }
    
    &:active {
        color: @body-header-actions-item-active-color;
        background-color: @body-header-actions-item-active-background-color;
    }
}

.body-header-titles {
    order: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    .ellipsis();
}

.body-header-title {
    display: block;
    text-transform: uppercase;
    .font-size(@body-header-title-font-size);
    .ellipsis();
    letter-spacing: unit(@letter-spacing-header,rem);
    line-height: unit(@body-header-title-font-size,px);
}

.body-header-subtitle {
    text-transform: uppercase;
    .font-size(@body-header-subtitle-font-size);
    .ellipsis();
    letter-spacing: unit(@letter-spacing-header,rem);
    line-height: unit(@body-header-subtitle-font-size,px);
}