[nav-group-item] {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: left;
	align-items: center;
	text-align: center;
	color: @nav-group-item-color;
	background-color: @nav-group-item-background-color;
	padding: .5em 1.5em;
	cursor: pointer;

	&:hover {
		color: @nav-group-item-hover-color;
		background-color: @nav-group-item-hover-background-color;
	}
	
	&:active {
		color: @nav-group-item-active-color;
		background-color: @nav-group-item-active-background-color;
	}

	& ~ & {
		margin-top: .5em;
	}
}

.nav-group-item {

	&--selected:hover,
    &--selected {
        color: @nav-group-item-selected-color;
		background-color: @nav-group-item-selected-background-color;
		font-weight: @nav-group-item-selected-font-weight;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
	}
}

.nav-group-item-icon {
	.font-size(@nav-group-item-icon-font-size);
	line-height: unit(@nav-group-item-icon-font-size, px);
	width: 20px;
	text-align: center;

	.nav-group-item--appSwitcher & {
		display: none;
	}
}

.nav-group-item-text {
	.font-size(@nav-group-item-text-font-size);
	line-height: unit(@nav-group-item-text-font-size, px);
    text-decoration: none;
    cursor: pointer;
	text-transform: uppercase;
	
	.nav-group-item-icon ~ & {
		margin-left: .75em;
	}

	.nav-group-item--appSwitcher & {
		margin-left: 0;
	}
}