page-content-nav-item {
    display: block;
    line-height: unit(@page-content-nav-item-font-size*3.5,px);
    padding: 0 2em;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
    position: relative;
    .font-size(@page-content-nav-item-font-size);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 unit(@padding-half,px);
    .text-link();
        
    & ~ & {
        margin-left: 0;
    }

    .page-content-nav--subnav & {
        line-height: unit(@page-content-nav-height/1.5,px);
    }
}

.page-content-nav-item--active {
    border-style: none;

    .page-content-nav--subnav &:hover,
    .page-content-nav--subnav & {
        background-color: #fff;
        font-weight: @font-weight-bold;
    }
    
    &:hover,
    & {
        background-color: @page-content-nav-item-selected-background-color;
        color: @page-content-nav-item-selected-color;
        font-weight: @font-weight-bold;
    }
    
    & {
        .page-content-nav:not(.page-content-nav--subnav) & {
            .arrow-inset-bottom(@page-content-nav-item-selected-arrow-size);
        }

        .page-content-nav--subnav & {
            border-bottom: solid 1px @color-orange;
        }
    }
    
    & ~ & {
        margin-top: 0;
        margin-left: 1px;
    }
}