.page-content,
.page-content-area {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
}

// tablet landscape mode
@media @media-tablet-landscape,
    @media-phone-landscape,
    @media-phone-portrait {
    .page-content,
    .page-content-area {
        flex-direction: column;
    }
}