.page-content,
.page-content-area {
    display: flex;
    flex-direction: row;
}

// tablet landscape mode
@media (max-width: unit(@screen-desktop-sm,px)) {
    .page-content,
    .page-content-area {
        flex-direction: column;
    }
}