nav-group,
.nav-group {
	display: flex;
	flex-direction: column;
	padding: 1em 0;

	nav-header ~ &,
	& ~ & {
		background-image: radial-gradient(circle, @nav-group-divider-color, transparent);
		background-size: 100% 1px;
		background-repeat: no-repeat;
	}
}

@media @media-phone-portrait {
    nav-group,
    .nav-group {
        display: none;
        
        .nav--show & {
            display: block;
        }
    }
}

@media @media-phone-portrait {
	.page-header-titles,
    .page-header-actions {
        .nav--show & {
		    display: none;
        }
	}
}