pane-header,
.pane-header {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    height: unit(@pane-header-height,px);
    line-height: unit(@pane-header-height,px);
    padding: 0 unit(@padding,px);
    color: @pane-header-color;
    background-color: @pane-header-background-color;
}

.pane-header-close {
    order: 0;
    display: flex;
    width: 30px;
    cursor: pointer;
}

.pane-header-closeIcon {
    display: inline-block;
    .font-size(@pane-header-actions-font-size);
    line-height: unit(@pane-header-height,px);
    text-align: center;
    cursor: pointer;
    color: @color-gray-light;
    
    .pane-header-close:hover & {
        color: @color-gray-lightest;
    }
    
    .pane-header-close:active & {
        color: @color-gray-dark;
    }
}

.pane-header-titles {
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 1;
    
    &.pane-header-titles--withSubtitle {
        padding: 6px 0;
    }
}

.pane-header-title {
    display: block;
    text-transform: uppercase;
    color: @pane-header-title-color;
    .font-size(@typescale-lg);
    .ellipsis();
    letter-spacing: unit(@letter-spacing-header,rem);
    
    .pane-header-titles--withSubtitle & {
        line-height: unit(@typescale-lg,px);
    }
}

.pane-header-subtitle {
    display: block;
    .font-size(@typescale-sm);
    line-height: unit(@typescale,px);
    color: @pane-header-subtitle-color;
    .ellipsis();
}

.pane-header-actions {
    order: 2;
    display: flex;
}

.pane-header-actions-item {
    display: inline-block;
    .font-size(@pane-header-actions-font-size);
    line-height: unit(@pane-header-height,px);
    
    text-align: center;
    cursor: pointer;
    color: @pane-header-actions-item-color;
    background-color: @pane-header-actions-item-background-color;
    
    & + & {
        margin-left: .25em;    
    } 
    
    &:hover {
        color: @pane-header-actions-item-hover-color;
        background-color: @pane-header-actions-item-hover-background-color;
    }
    
    &:active {
        color: @pane-header-actions-item-active-color;
        background-color: @pane-header-actions-item-active-background-color;
    }
}