page-slider {
    position: absolute;
    display: block;
    width: unit(@page-slider-width,px);
    max-width: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: -1;
    position: fixed; // safari fix (instead of absolute)
    color: @page-slider-color;
    background-color: @page-slider-background-color;
    overflow: hidden;

    &.page-slider--fullScreen {
        width: 100%;
        position: fixed;
    }
    
    &.page-slider--lg {
        width: unit(@page-slider-width-lg,px);
    }
    
    &.page-slider--sm {
        width: unit(@page-slider-width-sm,px);
    }

    &.is-visible {
        right: 0;
        z-index: 10;
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.25);
        transition: right .25s ease-in-out;
        opacity: 1;

        &.is-hiding {
            right: -100%;
        }
    }
}

@media @media-tablet-landscape,
    @media-tablet-portrait, 
    @media-phone-landscape,
    @media-phone-portrait {
    page-slider {
		position: fixed;
    }
}