page-slider {
    display: block;
    position: absolute;
    right: 0;
    width: unit(@page-slider-width,px);
    max-width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: right .25s ease-in-out;
    color: @page-slider-color;
    background-color: @page-slider-background-color;
    overflow: hidden;
    
    &.page-slider--lg {
        width: unit(@page-slider-width-lg,px);
    }
    
    &.page-slider--sm {
        width: unit(@page-slider-width-sm,px);
    }

    &:not(.is-visible) {
        // right: unit(-@page-slider-width,px);
        right: -100%;
    }

    &.is-visible {
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.25);
    }
}

@media @media-tablet-landscape,
    @media-tablet-portrait, 
    @media-phone-landscape,
    @media-phone-portrait {
    page-slider {
		position: fixed;
    }
}