<div class="page-content-body-pane">
    <div class="page-content-body-pane-section">
        <body-header title="Two Panes" subtitle="with a subtitle">
            <i class="body-header-actions-item fa fa-plus"></i>
            <i class="body-header-actions-item fa fa-external-link"></i>
        </body-header>

        <div class="section">
            <div class="section-label">
                Section Label
                <span class="section-label-sublabel">sublabel</span>
                <span class="section-label-actions">
                    <span class="section-label-actions-item">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <span class="section-label-actions-item">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="section-label-actions-item">
                        <i class="fa fa-file-text-o"></i>
                    </span>
                </span>
            </div>
            <div class="section-content">
                <a href="/panes/?area=doublePane">goto 'doublepane' tab</a>
            </div>
            <div class="section-label section-label--border">Slider 1
                <span class="section-label-sublabel">Large slider</span>
            </div>
            <div class="section-content">
                <a href="#" ng-click="vm.showSlider1 = !vm.showSlider1">toggle {{vm.showSlider1}}</a>
            </div>
            <div class="section-label">Slider 2
                <span class="section-label-sublabel">With Overlay</span>
            </div>
            <div class="section-content">
                <a href="#" ng-click="vm.showSlider2 = !vm.showSlider2">toggle</a>
            </div>
            <div class="section-label">Slider 2 over slider 1</div>
            <div class="section-content">
                <a href="#" ng-click="vm.openSlider2OverSlider1()">toggle</a>
            </div>
            <div class="section-label">Slider 3
                <span class="section-label-sublabel">Full screen slider</span>
            </div>
            <div class="section-content">
                <a href="#" ng-click="vm.showSlider3 = true">toggle</a>
            </div>
            <div class="section-label">Slider 4  body slider</div>
            <div class="section-content">
                <a href="#" ng-click="vm.toggleBodySlider()">toggle</a>
            </div>
        </div>

        <div class="section section--noborder">
            <div class="section-label section-label--large">Large Section Label
                <span class="section-label-sublabel">sublabel</span>
            </div>
            <div>
                another content
            </div>
        </div>
    </div>

    <div class="page-content-body-pane-section">
        <body-header title="Two Panes" subtitle="with a subtitle">
            <i class="body-header-actions-item fa fa-ellipsis-v"></i>
        </body-header>

        <div>
            another content
        </div>
    </div>
</div>

<div class="page-content-body-pane">
    <body-header title="This title should show an ellipsis because its so long">
        <i class="body-header-actions-item fa fa-ellipsis-v"></i>
    </body-header>

    <div>
        content
    </div>
</div>

<page-slider class="page-slider--lg" slide-if="vm.showSlider1" on-close="vm.slider1Closed()">
    <ng-include src="'demo/paneTest/slider1.html'"></ng-include>
</page-slider>

<page-slider slide-if="vm.showSlider2" show-overlay>
    <ng-include src="'demo/paneTest/slider2.html'"></ng-include>
</page-slider>

<page-slider class="page-slider--fullScreen" slide-if="vm.showSlider3" show-overlay>
    <ng-include src="'demo/paneTest/slider2.html'"></ng-include>
</page-slider>