.grid {
    display: flex;
}

.grid-cols {
    flex-direction: column;
}


.grid-title {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 8px;
}

* ~ .grid-title {
    margin-top: 16px;
}

.pad-all {
    padding: 32px;
}

.pad-lr {
    padding: 0 32px;
}

.pad-tb {
    padding: 32px 0;
}

.mar-all {
    margin: 32px;
}

.mar-lr {
    margin: 0 32px;
}

.mar-tb {
    margin: 32px 0;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.list-item + .list-item {
    margin-top: 16px;
}

.address-state {
    width: 35px;
}

.color {
    display: flex;
}

.color-item {
    width: 32px;
    height: 32px;
}

.color-name {
    font-size: 20px;
    margin-left: 10px;
    line-height: 32px;
}

.color-value {
    width: 60px;
    margin-right: 10px;
}

.color-title .color-name {
    font-size: 32px;
    color: #000;
    line-height: 32px;
}

.doughnut-test {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
}

.doughnut-color-test {
    background-color: blue;
}

.doughnut-empty-color-test {
    background-color: lightgrey;
}