.page {
    display: flex;
    flex-direction: column;
    background-color: @page-background-color;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
    flex-grow: 0;

    &--full {
        flex-grow: 1;
    }
    
    & page-header,
    & .page-header {
        order: 0;
        flex-grow: 0;
    }
    
    & .page-content,
    & .page-content-area {
        order: 1;
        flex-grow: 1;
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        opacity: 0;
        background-color: rgba(0,0,0,.25);
        z-index: 9;
        transition: bottom .15s ease-in-out, opacity .15s ease-in-out;
    }

    &--overlay {
        &:before {
            opacity: 1;
            bottom: 0;
        }
    }
}

@media @media-tablet-landscape,
    @media-tablet-portrait, 
    @media-phone-landscape,
    @media-phone-portrait {
    .page {
		flex-grow: 1;
    }
}

@media @media-phone-landscape,
    @media-phone-portrait {
    .page {
        width: 100vw;
    }
}

@media @media-phone-portrait {
	.page-header-titles,
    .page-header-actions {
        .nav--show & {
		    display: none;
        }
	}
}