nav {
	width: unit(@nav-large,px);
    min-width: unit(@nav-large,px);

    position: relative;
    .layoutPageOverlay();
}

@media @media-phone-landscape, @media-tablet-landscape, @media-tablet-portrait {
    nav {
        position: absolute;
        top: 0;
		left: 0;
		bottom: 0;
        z-index: 0;
    }
}

@media @media-phone-portrait {
    nav {
        position: absolute;
        top: 0;
		left: 0;
		width: ~"calc(100vw - 48px)";
		bottom: 0;
        z-index: 0;
    }
}