page-header,
.page-header {
    display: flex;
    flex-direction: row;
    color: @page-header-color;
    background-color: @page-header-background-color;
    line-height: unit(@page-header-height,px);
    min-height: unit(@page-header-height,px); /* Safari flex-box fix */
}

.page-header-navMenu {
    order: 1;
    width: 48px;
    line-height: unit(@page-header-title-font-size,px);
    display: none;
    flex-direction: column;
    justify-content: center;
}

.page-header-titles {
    order: 2;
    flex-grow: 1;
    display: flex;
    padding: 0 unit(@padding,px);
}

.page-header-titles-item {
    line-height: unit(@page-header-title-font-size,px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & ~ & {
        margin-left: 1em;
    }
}

.page-header-titles-content {
    display: block;
    line-height: 1em;
}

.page-header-title {
    display: inline-block;
    font-weight: @page-header-title-font-weight;
    .font-size(@page-header-title-font-size);
    .ellipsis();
    letter-spacing: unit(@letter-spacing-header,rem);
    text-transform: uppercase;
}

.page-header-subtitle {
    display: inline-block;
    font-weight: @page-header-subtitle-font-weight;
    .font-size(@page-header-subtitle-font-size);
    .ellipsis();
}

.page-header-label {
    display: inline-block;
    font-weight: @page-header-label-font-weight;
    .font-size(@page-header-label-font-size);
    .ellipsis();
    color: @page-header-background-color;
    background-color: #fff;
    border-radius: .5em;
    padding: 0 .5em;
    font-weight: bold;
    text-transform: uppercase;
}

.page-header-actions {
    order: 3;
    display: flex;
    padding: 0 unit(@padding-half,px);
}

.page-header-actions-group {
    display: flex;

    & + & {
        margin-left: .5em;
    }
}

.page-header-actions-item {
    display: inline-block;
    .font-size(@page-header-actions-font-size);
    line-height: unit(@page-header-height,px);
    text-align: center;
    cursor: pointer;
    color: @page-header-actions-item-color;
    background-color: @page-header-actions-item-background-color;
    padding: 0 .7em;
    transition: background-color .25s ease-in-out;
    box-sizing: content-box;

    &--customWidth {
        min-width: auto;
    }

    &--pad {
        padding: 0 unit(@padding-quarter,px);
    }

    & + & {
        margin-left: unit(@page-header-actions-item-padding,px);
    }
    
    &:hover {
        color: @page-header-actions-item-hover-color;
        background-color: @page-header-actions-item-hover-background-color;
    }
    
    &:active {
        color: @page-header-actions-item-active-color;
        background-color: @page-header-actions-item-active-background-color;
    }
}

@media @media-phone-landscape, 
    @media-phone-portrait {
    .page-header-navMenu {
        display: flex;
    }
    
    .page-header-titles {
        order: 2;
        flex-grow: 1;
        display: flex;
        padding: 0 unit(@padding,px) 0 0;
    }
}