.page-content-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: unit(@page-content-nav-width,px);
    padding: unit(@padding-half,px) 0;
    border-width: 1px;
    border-color: @border-color;
    border-style: none solid none none;
    background-color: @color-gray-lightest2;
    list-style-type: none;
    margin: 0;
}

// tablet landscape mode
@media (max-width: unit(@screen-desktop-sm,px)) {
    .page-content-nav {
        flex-direction: row;
        width: auto;
        border-style: none none solid none;
        padding: 0 unit(@padding-half,px);
        height: unit(@page-content-nav-height,px);
        line-height: unit(@page-content-nav-height,px);
    }
}